.container {
  width: 100%;
}

.pageTitle {
  font-size: 36px;
  margin-bottom: 24px;
}

.itemTitle {
  font-size: 24px;
  color: navy;
  margin-bottom: 12px;
}

.gameList {
  list-style: none;
  width: 100%;
}

.gameListItem {
  font-size: 18px;
  margin-bottom: 16px;
}

.gameLinkItem {
  display: flex;
}

.gameLinkItem:hover {
  color: darkgoldenrod;
}

.gameRow {
  display: flex;
  flex-wrap: wrap;
  padding: 2px 0;
  gap: 5px;
}

.provider {
  text-decoration: underline;
}
