.modalBackground {
  background: transparent;
  position: fixed;
  z-index: 1300;
  inset: 0px;
}

.modalPosition {
  position: relative;
}

.modalContent {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
