@import 'fonts';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    'Sofia Sans',
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  font-optical-sizing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
